@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;



}

body {
    background-color: black;
}


.main {
    background-image: url("assets/images/bg.jpg");
    height: 90vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    /* 1200 or 100 which is bigger between them */
    position: relative;

}

.flex {
    display: flex;
    gap: 12px;
}

.main .box {
    height: 90vh;
    width: 100%;
    opacity: 0.70;
    background-color: black;
    position: absolute;
    top: 0;



}

nav {
    display: flex;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    height: 112px;


}

nav img {
    width: 152px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    color: white;
    display: flex;
    height: calc(90% - 40px);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    /* so the text will appear infront of the box */
    font-family: "Martel Sans", sans-serif;
    gap: 10px;
    padding: 0 30px;


}


/* > means only the immediate first child  or else it will be decendent selector*/
.hero>:nth-child(1) {
    font-weight: 1000;
    font-size: 48px;
    text-align: center;
}

.hero>:nth-child(2) {
    font-weight: 800;
    font-size: 24px;
    text-align: center;
}

.hero>:nth-child(3) {
    font-weight: 600;
    font-size: 17px;
    text-align: center;
}

.seperation {
    height: 5px;
    background-color: rgb(239, 66, 66);
}

.btn {
    padding: 8px 12px;
    /* top button & left right */
    color: white;
    border-radius: 4px;
    font-weight: bold;
    background-color: #00000096;
    border: 1px solid rgba(255, 255, 255, 0.408);
    cursor: pointer;

}

.btn-red {
    background-color: red;
    color: white;
    padding: 13px 40px 13px 25px;
    font-size: 22px;
    border: 1px solid red;


}

.btn-red-sn {
    background-color: red;
    color: white;
    border: 1px solid red;
}

.main input {
    padding: 18px 130px 18px 15px;
    font-weight: 600;
    border-radius: 4px;
    font-size: 15px;
    color: white;
    background-color: #161616cd;
    border: 1px solid rgba(255, 255, 255, 0.408);
}

.hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}


/* trending */

.trending {
    color: white;
    padding: 50px 10%;
}

h2 {
    font-family: sans-serif;

}

.trending-row {
    display: flex;
    gap: 50px;
    position: relative;
    overflow-x: auto;
    scrollbar-width: none;
    padding-top: 23px;
    padding-left: 25px;


}


.poster {
    position: relative;

}

.poster img {
    border-radius: 10px;
    transition: transform 0.3s ease;
    width: 180px;
}

.poster img:hover {
    transform: scale(1.05);
}

.rank {
    position: absolute;
    font-weight: bolder;
    font-size: 100px;
    font-family: sans-serif;
    top: 135px;
    right: 150px;
    color: black;
    text-shadow: 1px 1px 7px white;
}


/* reason */
.reason {
    color: white;
    padding: 22px 10%;
    margin-bottom: 80px;

}

.reason-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 23px;
    width: 80vw;


}

.reason-card {
    height: 30vh;
    padding: 25px 15px 17px;
    border-radius: 15px;
    background: linear-gradient(to bottom, #11192f, #1f1122);
    position: relative;

}

.reason-card :nth-child(1) {
    padding-bottom: 18px;
}

.reason-card :nth-child(2) {
    font-family: sans-serif;

    
}

@media screen and (max-width: 1200px) {
    .reason-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 900px) {
    .reason-grid{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 650px){
    .hero-button{
        flex-direction: column;
        display: flex;
    }
    
}

.reason-card .icon{
    position: absolute;
    top: 200px;
    right: 10px;
}

.faq{
    color: white;
    padding: 22px 10%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.faq-box{
    display: flex;
    background-color: rgb(48, 47, 47);
    padding: 28px;
    justify-content: space-between;
    font-size: 25px;
    font-family: sans-serif;
    cursor: pointer;
    transition: all ease 0.4s;
    
    
}

.faq-box:hover{
    background-color: rgba(128, 128, 128, 0.529);
    
}



.faq h2{
    padding-bottom: 11px;
}


/* footer */

footer{
    color: rgba(255, 255, 255, 0.666);
    font-family: sans-serif;
    font-size: 15px;
    margin-bottom: 80px;
    
}

footer>a{
    display: flex;
    margin: 15px 10%;
    font-size: 17px;
    
}


.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 22px 10%;
    margin-bottom: 50px;
    
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

footer a{
    color: rgba(255, 255, 255, 0.666);


}



.footer-span{
    display: flex;
    flex-direction: column;
    margin: 25px 10%;
    font-size: 15px;
    gap: 35px;
    
}

.footer-span .learn-more a{
    color: rgb(68, 142, 244);
}

.ready{
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    margin-bottom: 55px;
}

.ready input{
   
    padding: 18px 320px 18px 15px;
    font-weight: 600;
    border-radius: 4px;
    font-size: 15px;
    color: white;
    background-color: #161616ad;
    border: 1px solid rgba(255, 255, 255, 0.408);

}


